body{
  background-color: #eee;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container{
  width: 500px;
  height: 300px;
  margin: 30px auto;
  border-radius: 25px;
  box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3);
  /* background: linear-gradient(370deg, #5b95af, #e8aa35); */
}

.header {
  height: 20%;
  /* background-color: #FF9800; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  position:relative;
}

.temp, .humidity-div {
  font-family: "Courier New";
  font-weight: bold;
  font-size: 60px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.city-icon-holder {
  position:absolute;
  left: 25%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.city-name {
  font-family: "Courier New";
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.icon {
  width:50%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.city-icon {
  height: 80%;
  width: 50%;
  border-bottom-left-radius: 25px;
  background-color: #FFC107;
  background-color: rgba(255, 193, 7, 0.4);
}

.temperature {
  position: absolute;
  left: 50%;
  top:0%;
  height: 40%;
  width: 50%;
  /* background-color: #9C27B0; */
  background-color: rgba(69, 30, 76, 0.65);
}

.humidity {
  height: 40%;
  width: 50%;
  position:absolute;
  left:50%;
  top:40%;
  border-bottom-right-radius: 25px;
  /* background-color: #E91E63; */
  background-color: rgba(233, 30, 99, 0.33);
}

.search-btn {
  width: 40px;
  height:40px;
  color: #7b4a5a;
  cursor: pointer;
}

.search-txt {
  color: red;
  height:30px;
  border-radius: 10px;
  border-style:none;
  outline:none;
  padding-right:1px;
  padding-left:1px;
  text-align:center;
}

.search {
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}

/* City list */
.city-list {
  display: block;
  margin: 30px auto;
  max-width: 1200px;
  width: 100%;
}
.city-single {
  display: inline-block;
}
.city-single {
  display: inline-block;
  width: 15%;
  text-align: center;
  padding: 20px 0;
  border-left: 1px solid #ccc;
}
.city-single:first-child {
  border-left: 0;
}

@media (max-width: 992px) {
  .city-single {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin-bottom: 30px;

  } 
}
@media (max-width: 480px) {
  .city-single {
    display: inline-block;
    width: 50%;
    text-align: center;
  } 
}
.city-title {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.city-temp {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
}

.storageFunc {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    width: auto;
    height: 300px;
    margin: 30px auto;
    box-shadow: none;
    border-radius: 0;
  }
}